<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/login.css">

  </head>

  <body>
    {% load static %}
    <nav class="navbar navbar-light navbar-expand-lg bg-white">
      <img class="navbar-brand small" src="{%static '../static/images/logoGalenos.png' %}" alt="">
      <h5 id="nav-slogan">Nuestra misión es tu cuidado</h5>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      </button>
        <div class="ml-auto">
          <a target= "_blank" href="acceso/login/"><button type="button" class="btn mr-1 nav-btn btn-sm">Inicio</button></a>
          <a target= "_blank" href="acceso/login/"><button type="button" class="btn mr-1 nav-btn btn-sm">Acerca de </button></a>
          <a target= "_blank" href="acceso/login/"><button type="button" class="btn mr-1 nav-btn btn-sm">Contáctanos</button></a>
          <a target= "_blank" href="acceso/register/"><button type="button" class="btn mr-5 nav-btn btn-sm ml-1">Regístrate</button></a>
        </div>
    </nav>

    <main>
      <div class="container mt-4">
        <div class="row">
          <div class="col">
            <img width="100%" src="../static/images/vector.svg" alt="">
          </div>
          <div class="col">
            <div class="login-container">
              <div class=" w-75 login-form-1 m-auto">
                  <h3 class="">Iniciar sesión</h3>
                  <form id="loginForm" method="POST">
                      <!-- {% csrf_token %} -->
                      <div class="form-group">
                          <input name="userEmail" type="email" class="form-control" placeholder="Ingresa tu email *" id="userEmail" value="" />
                      </div>
                      <div class="form-group">
                          <input name="userPassword" type="password" class="form-control" placeholder="Ingresa tu contraseña *" id="userPassword" value="" />
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btnSubmit login-btn" id="ingresar" value="ingresar">Ingresar</button>
                      </div>
                      <a href="#" class="ForgetPwd">¿Olvidaste tu contraseña?</a>
                  </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

    <footer class="text-center text-lg-start text-dark mt-5" style="background-color: #ECEFF1">
      <!-- Section: Social media -->
      <section
            class="d-flex justify-content-between p-4 text-white"
            style="background-color: #21c582"
            >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Company name</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #21c582; height: 2px"
                />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore possimus voluptates excepturi illum placeat ipsum qui hic earum amet error magni, facilis, itaque esse suscipit. Dicta, impedit. Nesciunt, beatae expedita.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #21c582; height: 2px"
                />
            <p>
              <a href="#!" class="text-dark">MDBootstrap</a>
            </p>
            <p>
              <a href="#!" class="text-dark">MDWordPress</a>
            </p>
            <p>
              <a href="#!" class="text-dark">BrandFlow</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Bootstrap Angular</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #21c582; height: 2px"
                />
            <p>
              <a href="#!" class="text-dark">Your Account</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Become an Affiliate</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Shipping Rates</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #21c582; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Santiago, 10012, CL</p>
            <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)"> © 2022 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
      <!-- Copyright -->
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>